<div id="item">
    <h2 [class.completed]="item.isCompleted">{{item.content}}</h2>
    <div class="todo-actions" aria-label="To-do item actions">
        <button class="complete-button" 
        aria-label="Mark as completed" 
        mat-raised-button 
        (click)="ClickComplete()">
            <mat-icon>check_circle</mat-icon>
        </button>
        <button class="delete-btn" aria-label="delete item" mat-raised-button (click)="ClickDelete()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>