#item {
    width: 40vw;
    height: 9vh;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.complete-button {
    background-color: #28a745 !important; 
    color: #ffffff !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    // border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .complete-button:hover {
    background-color: #218838; 
  }
  
  .complete-button:focus {
    outline: 2px solid #007bff; 
    outline-offset: 2px;
  }

  .delete-btn {
    background-color: #DC3545 !important;
    color: #FFFFFF !important;          
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .delete-btn:hover {
    background-color: #C82333; 
  }
  
  .delete-btn:focus {
    outline: 2px solid #DC3545; /* Red outline for focus */
    outline-offset: 2px;
  }