<main role="main-page">
    <header id="title">
        <h1>To Do List</h1>
    </header>
    <section id="content">
        <ul role="list" id="list">
            <app-to-do-item 
            *ngFor="let item of List$ | async; let i = index" 
            [tabindex]="i === FocusedIndex ? 0 : -1"
            (keydown)="OnKeyDown($event, i)" 
            role="listitem" 
            [item]="item" 
            (OnComplete)="Complete($event)" 
            (OnDelete)="Delete($event)">
            </app-to-do-item>
        </ul>
        <div>
            <div role="dialog" *ngIf="IsDialogOpen" class="dialog-container" cdkTrapFocus>
                <input
                id="newItemName"
                #taskInput
                aria-label="item name"
                [(ngModel)]="ItemContent"
                placeholder="Enter item" 
                (keydown.enter)="AddItem()" 
            >
                <button class="add-item"
                mat-raised-button (click)="AddItem()">add</button>
            </div>
            
            <button class="open-dialog" mat-raised-button *ngIf="!IsDialogOpen" (click)="OpenDialog()">Add new item</button>
            <div *ngIf="this.LiveMessage !== ''"
            class="live-message" 
            aria-live="polite" 
            aria-atomic="true">
            {{ LiveMessage }}
            </div>
        </div>
    </section>
</main>