
*:focus {
    outline: 2px solid #007bff; 
    outline-offset: 2px;
  }

  button:hover {
    background-color: #218838; 
  }

#title {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-weight: bold;
    }
}

#list {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
    overflow-y: auto;
}

#content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 90%;
}

.open-dialog {
    background-color: #007bff !important;
    color: white !important;

    &:hover{
        background-color: #0056b3 !important;
    }
}

.add-item {
    background-color: #007bff !important;
    color: white !important;

    &:hover{
        background-color: #0056b3 !important;
    }
}

#newItemName {
    width: 22vw;
    height: 5vh;
}

.live-message {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #323232;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    z-index: 1000;
    animation: fade-in-out 3s ease-in-out;
    white-space: nowrap;
  }

  @keyframes fade-in-out {
    0% { opacity: 0; transform: translateY(10px) translateX(-50%); }
    10% { opacity: 1; transform: translateY(0) translateX(-50%); }
    90% { opacity: 1; transform: translateY(0) translateX(-50%); }
    100% { opacity: 0; transform: translateY(10px) translateX(-50%); }
  }